In [7]:
#  1.1 Sort the ages list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() #Sorting the ages list
min_of_ages = min(ages) #minimum of ages list
max_of_ages = max(ages) #maximum of ages list
print( " minimum age = ", min_of_ages  , "maximum age = ", max_of_ages ,sep="\n")

 minimum age =
19
maximum age =
26

In [11]:
print ( " minimum age = " , ages[0] ) #since the ages is sorted 10 element list ,minimum woould be the first element 
print ( " maximum age = " , ages[9] ) #and maximum would be last element (just verifying)
print ( " ages = ", ages )

 minimum age =  19
 maximum age =  26
 ages =  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [12]:
#1.2 Add the min age and the max age again to the list
ages.append(min_of_ages)
ages.append(max_of_ages)
print ( "ages = ", ages)

ages =  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [33]:
#1.3 Find the median age (one middle item or two middle items divided by two)
mid = len(ages) // 2
median_age = (ages[mid] + ages[~mid]) / 2
print( "median of ages = " , median_age )

median of ages =  24.0

In [38]:
#1.4 Find the average age (sum of all items divided by their number)
add = 0  #initializing the add variable
length = len(ages)
for age in ages:  #fetches each element from the ages list and runs till the last element
    add = add + age  #adding all the list elements
print( " average age = " , add / length)

 average age =  22.75

In [39]:
#1.5 Find the range of the ages (max minus min)
range_of_ages = max(ages) - min(ages)
print( "range of ages = " ,range_of_ages)

range of ages =  7

In [41]:
#2.1 Create an empty dictionary called dog
dog = {}
print ( " dog = ",dog)

 dog =  {}

In [43]:
#2.2 Add name, color, breed, legs, age to the dog dictionary
dog['name'] = "Tannie"
dog['color'] = "Black and Tan"
dog['breed'] = "Pomeranian"
dog['legs'] = 4
dog['age'] = 2
print (" dog = ",dog)

 dog =  {'name': 'Tannie', 'color': 'Black and Tan', 'breed': 'Pomeranian', 'legs': 4, 'age': 2}

In [45]:
#2.3 Create a student dictionary and add first_name, last_name, gender, age, marital status,
#skills, country, city and address as keys for the dictionary
student = {
    'first_name':'Bhargavi',
    'last_name':'Chukkapalli',
    'gender':'Female',
    'age':24,
    'marital status':'Single',
    'skills': ['SAP ABAP','Python','Java'], #person can have multiple skills and can learn a new skill ,so considered list since list's are mutable
    'country':'India',
    'city':'Hyderabad',
    'address':{
        'door no.':'8-4-315/9',
        'street':'Prem nagar',
        'Pincode':'500018'
    }
}
print(" student = ",student)

 student =  {'first_name': 'Bhargavi', 'last_name': 'Chukkapalli', 'gender': 'Female', 'age': 24, 'marital status': 'Single', 'skills': ['SAP ABAP', 'Python', 'Java'], 'country': 'India', 'city': 'Hyderabad', 'address': {'door no.': '8-4-315/9', 'street': 'Prem nagar', 'Pincode': '500018'}}

In [46]:
#2.4 Get the length of the student dictionary
student_length = len(student)
print( " length of student = ",student_length)

 length of student =  9

In [48]:
#2.5 Get the value of skills and check the data type, it should be a list
student_skills = student['skills']
type_skills = type(student_skills)
print(" value of skills = ",student_skills)
print(" data type of skills = ",type_skills)

 value of skills =  ['SAP ABAP', 'Python', 'Java']
 data type of skills =  <class 'list'>

In [49]:
#2.6 Modify the skills values by adding one or two skills
student['skills'].append('MySQL') #adding a element to student skills
print(" Student skills = ",student['skills'])

 Student skills =  ['SAP ABAP', 'Python', 'Java', 'MySQL']

In [51]:
#2.7 Get the dictionary keys as a list
print( " keys = " , student.keys())

 keys =  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [52]:
#2.8 Get the dictionary values as a list
print( "values = ", student.values())

values =  dict_values(['Bhargavi', 'Chukkapalli', 'Female', 24, 'Single', ['SAP ABAP', 'Python', 'Java', 'MySQL'], 'India', 'Hyderabad', {'door no.': '8-4-315/9', 'street': 'Prem nagar', 'Pincode': '500018'}])

In [53]:
#3.1 Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ('Harini','Haritha')
brothers = ('Dhruva','Karthik')
print( "sisters = " ,sisters)
print( "brothers = ",brothers)

sisters =  ('Harini', 'Haritha')
brothers =  ('Dhruva', 'Karthik')

In [54]:
#3.2 Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print( "siblings = ",siblings)

siblings =  ('Harini', 'Haritha', 'Dhruva', 'Karthik')

In [55]:
#3.3 How many siblings do you have?
No_of_siblings = len(siblings)
print("Total no. of siblings = ",No_of_siblings)

Total no. of siblings =  4

In [56]:
#3.4 Modify the siblings tuple and add the name of your father and mother and assign it to family members
siblings = list(siblings) # tuple's are immutable so to modify the siblings tuple converting to list
siblings.append("Venkata Subbaiah")
siblings.append("Usha Rani")
Family_members = tuple(siblings)
print ( "Family members =", Family_members)

Family members = ('Harini', 'Haritha', 'Dhruva', 'Karthik', 'Venkata Subbaiah', 'Usha Rani')

In [57]:
#4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [58]:
#4.1 Find the length of the set it_companies
print( "length = " ,len(it_companies))

length =  7

In [59]:
#4.2 Add 'Twitter' to it_companies
it_companies.add('twitter')
print( "it_companies = ",it_companies)

it_companies =  {'Amazon', 'Facebook', 'Microsoft', 'Google', 'twitter', 'IBM', 'Oracle', 'Apple'}

In [60]:
#4.3 Insert multiple IT companies at once to the set it_companies
set1 = { 'Accenture','Cognizant','CVS'}
it_companies.update(set1)
print( "it_companies = ",it_companies)

it_companies =  {'Facebook', 'Google', 'twitter', 'IBM', 'Accenture', 'Oracle', 'Amazon', 'Microsoft', 'CVS', 'Cognizant', 'Apple'}

In [61]:
#4.4 Remove one of the companies from the set it_companies
it_companies.remove('Microsoft')
print( "it_companies = ",it_companies)

it_companies =  {'Facebook', 'Google', 'twitter', 'IBM', 'Accenture', 'Oracle', 'Amazon', 'CVS', 'Cognizant', 'Apple'}

In [62]:
#4.5 What is the difference between remove and discard
it_companies.discard('tcs')
print( "it_companies =",it_companies)

it_companies = {'Facebook', 'Google', 'twitter', 'IBM', 'Accenture', 'Oracle', 'Amazon', 'CVS', 'Cognizant', 'Apple'}

In [63]:
it_companies.remove('tcs')
print( "it_companies =",it_companies)

KeyError: 'tcs'

In [64]:
#discard() and remove() both removes the specified item from the set
# if the specified item doesn't exist ,remove() will raise an error whereas discard doesn't

In [65]:
#4.6 Join A and B
print( "A Union B = ", A.union(B))

A Union B =  {19, 20, 22, 24, 25, 26, 27, 28}

In [67]:
#4.7 Find A intersection B
print(" A Intersection B = ", A.intersection(B))

 A Intersection B =  {19, 20, 22, 24, 25, 26}

In [68]:
#4.8 Is A subest of B
print(" Is A subset of B ? :", A.issubset(B))

 Is A subset of B ? : True

In [69]:
#4.9 Are A and B disjoint sets
print(" Is A and B disjoint ? :", A.isdisjoint(B))

 Is A and B disjoint ? : False

In [70]:
#4.10 Join A with B and B with A
print("join A with B:" , A.union(B))
print("join B with A:" ,B.union(A))

join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
join B with A: {19, 20, 22, 24, 25, 26, 27, 28}

In [72]:
#4.11 What is the symmetric difference between A and B
print(" symmetric difference between A and B :", A.symmetric_difference(B))

 symmetric difference between A and B : {27, 28}

In [73]:
#4.12 Delete the sets completely
del A
del B
print( "A =",A)
print("B =",B)

NameError: name 'A' is not defined

In [74]:
#4.13 Convert the ages to a set and compare the length of the list and the set.
len_of_list = len(age)
age = set(age)
len_of_set = len(age)
print( "length of age list = ",len_of_list)
print( "length of age set = ",len_of_set) #set will not have duplicates

length of age list =  8
length of age set =  5

In [75]:
#5 radius(r) of a circle is 30 meters.

In [99]:
#5.1 Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
import math
r = 30
pi = 3.141592653589793238
_area_of_circle_ = math.pi*r**2
print( "Area of circle = ",_area_of_circle_)

Area of circle =  2827.4333882308138

In [101]:
#5.2 Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_ = 2*pi*r
print("circumference of circle =", _circum_of_circle_)

circumference of circle = 188.49555921538757

In [103]:
#5.3 Take radius as user input and calculate the area
r = float(input())
_area_of_circle_ = math.pi*r**2
print( "Area of circle = ",_area_of_circle_)

4
Area of circle =  50.26548245743669

In [104]:
#6
String = "I am a teacher and I love to inspire and teach people"
set1 = set(String.split()) #set doesn't contain duplicates
print(set1)
print( " no. of unique words used :", len(set1))

{'teacher', 'love', 'inspire', 'teach', 'I', 'to', 'am', 'and', 'a', 'people'}
 no. of unique words used : 10

In [105]:
#7 Use a tab escape sequence
print("Name\t\tAge\tCountry\tCity\nAsabench\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabench	250	Finland	Helsinki

In [106]:
#8 Use the string formatting method to display
radius = 10
area = 3.14*radius**2
print("radius = {radius}".format(radius = 10))
print("area = {pi}*radius**2".format(pi = 3.14))
#using string formatting method(format) to insert numerical values between string
answer = "area of the circle with radius {0} is {1} meters square".format(radius,area)
print(answer)

radius = 10
area = 3.14*radius**2
area of the circle with radius 10 is 314.0 meters square

In [112]:
#9 Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
#kilograms in a separate list using Loop. N: No of students (Read input from user)
N = int(input())
w_in_lbs = []
w_in_kgs = []
lb = 0.453592
for i in range(N):
    w = int(input(" Enter weight in lbs: ")) 
    w_in_lbs.append(w) #adding input weights to list 
for i in w_in_lbs:
    w = i*lb
    w_in_kgs.append(w)
print("weight in kg's =",w_in_kgs)

4
 Enter weight in lbs: 150
 Enter weight in lbs: 155
 Enter weight in lbs: 148
 Enter weight in lbs: 145
weight in kg's = [68.0388, 70.30676, 67.131616, 65.77083999999999]